body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	color: #000000;
	background-color: #f2f2f2;
}

.page-container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	box-shadow: 
	    -5px -5px 15px 0 rgba(0,0,0,0.2),
	    5px 5px 15px 0 rgba(0,0,0,0.2);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.main-navigation {
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: center;
	width: 1200px;
	margin: 0;
	padding: 0;
	min-height: 26px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}

.main-navigation .menu {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 6%;
	padding-right: 6%;
	list-style: none;
}

.menu li {
	width: 20%;
	padding: 15px 0;
}

.menu li:first-of-type,
.menu li:nth-of-type(2) {
	text-align: left;
}

.menu li:last-of-type,
.menu li:nth-of-type(3) {
	text-align: right;
}

.menu li:nth-of-type(2) {
	margin-right: 20%;
}

.menu a {
	display: block;
	vertical-align: middle;
	color: #000000;
}

.menu a:hover,
.menu a:focus {
	color: #81b3d2;
}

.menu a:active {
	color: rgba(0,0,0,0.3);
}

a.selected-page {
	color: #766357;
}

.logo-sedona {
	display: block;
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	width: 140px;
	height: 75px;
	margin: auto;
}

.main-page {
	display: flex;
	flex-direction: column;
	align-content: center;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
}

.tagline {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 513px;
	background-color: #81b3d2;
	background-image: 
	    url("../img/main-view.jpg");
	background-repeat: no-repeat;
}

.sedona-cool {
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-top: 58px;
	margin-bottom: 32px;
	text-align: center;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.main-page h2 {
	display: inline-block;
	margin: 0;
	margin-bottom: 52px;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	line-height: 26px;
	color: #000000;
}

.advantages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.advantages h3 {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 21px;
	font-weight: 600;
	line-height: 21px;
	color: #000000;
}

.advantages.pictured h3 {
	margin-right: 63px;
	margin-left: 63px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 21px;
	font-weight: 600;
	line-height: 21px;
	color: #ffffff;
}

.advantages .pictured {
	width: 100%;
	font-size: 14px;
	line-height: 21px;
	background-color: #81b3d2;
}

.image-right {
	order: 2;
}

.advantages-description {
	box-sizing: border-box;
	width: 33.333333%;
	margin: auto;
	padding: 38px 60px;
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;
}

.content-image-town {
	width: 66.666666%;
	background-image: url('../img/real-town.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 50%;
}

.content-image-bridge {
	width: 66.666666%;
	background-image: url('../img/diablo-bridge.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 50%;
}

.recomendations {
	display: flex;
	position: relative;
	margin: 0;
	margin-top: 55px;
	margin-bottom: 85px;
	padding: 0;
	font-size: 14px;
	line-height: 21px;
	list-style: none;
	text-align: center;
}

.recomendations li {
	position: relative;
	width: 33,3333%;
	margin: auto 0;
	padding-top: 100px;
	text-align: center;
}

.house::before {
	content: "";
	position: absolute;
	right: 50%;
	top: 0;
	width: 75px;
	height: 75px;
	margin-right: -35px;
	background-color: transparent;
	background-image: url('../img/icon-1.svg');
	background-repeat: no-repeat;
}

.food::before {
	content: "";
	position: absolute;
	right: 50%;
	top: 0;
	width: 75px;
	height: 75px;
	margin-right: -35px;
	background-color: transparent;
	background-image: url('../img/icon-3.svg');
	background-repeat: no-repeat;
}

.items::before {
	content: "";
	position: absolute;
	right: 50%;
	top: 0;
	width: 75px;
	height: 78px;
	margin-right: -40px;
	background-color: transparent;
	background-image: url('../img/icon-2.svg');
	background-repeat: no-repeat;
}

.recomendations p:first-child,
.recomendations p:last-child {
	margin: 0 39px;
}

.block {
	flex-grow: 1;
	box-sizing: border-box;
	width: 33.33333%;
	padding: 0 69px;
	padding-bottom: 62px;
	padding-top: 50px;
	margin: 0;
	text-align: center;
	vertical-align: center;
	background-color: #eeeeee;
}

.block h3,
.block p {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.block p:nth-of-type(1) {
	margin: 27px 0;
}

.block h3 {
	padding: 0 50px;
}

.booking-title {
	margin-top: 55px;
	margin-bottom: 49px;
}

.booking-title p:first-of-type {
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
}

.booking-title p:last-of-type {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.booking-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	position: relative;
	left: 19%;
	width: 570px;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}

.booking-form .fill-in {
	position: absolute;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.main-booking-form {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 55px;
	background-color: #ffffff;
	border: none;
}

.main-booking-form label {
	display: inline-block;
	width: 110px;
	margin: 0;
	padding: 9px 0;
}

.age label:last-of-type {
	width: 65px;
	margin-left: 40px;
}

.booking-form.search {
	padding: 22px 0;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
}

a.booking-form.search:hover,
a.booking-form.search:focus {
	background-color: #604e43;
}

a.booking-form.search:active {
	background-color: #503e33;
	color: rgba(255,255,255,0.3);
}

.booking-form input {
	display: inline-block;
	margin-bottom: 30px;
	padding: 9px 0;
	text-transform: uppercase;
	font: inherit;
    background-color: #f2f2f2;
	border: none;
}

.booking-form input:hover {
	background-color: #ebebeb;
}

.booking-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.booking-form-date input {
	display: inline-block;
    vertical-align: top;
	box-sizing: border-box;
	width: 340px;
	padding: 7px 0;
	padding-right: 15px;
	padding-left: 10px;
}

.booking-form-date {
	position: relative;
}

.calendar a {
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	right: 35px;
	margin: 0;
	padding: 0;
	margin-top: 9px;
	fill: #cacaca;
}

.calendar a:hover svg,
.calendar a:focus svg {
	fill: #000000;
}

.calendar a:active svg{
	fill: #81b3d2;
}

.age {
	display: inline-block;
	position: relative;
    vertical-align: bottom;
	margin: 0;
	padding: 0;
}

.age input {
	box-sizing: border-box;
	width: 39px;
	margin: 0;
	margin-right: -4px;
	margin-left: -4px;
	margin-bottom: 30px;
	padding: 6px 0;	
	text-align: center;
	vertical-align: top;
}

.age button {
	display: inline-block;
    vertical-align: top;
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	color: #a9a9a9;
	border: none;
	background: #f2f2f2;
}

.age button:hover,
.age button:focus {
	color: #000000;
	cursor: pointer;
}

.age button:active {
	color: #81b3d2;
	cursor: pointer;
}

input.found-button {
	display: inline-block;
	width: 460px;
	margin: 0 auto;
	padding: 17px 0;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #ffffff;
	background-color: #81b3d2;
	cursor: pointer;
}

input.found-button:hover,
input.found-button:focus {
	background-color: #669ec0;
	cursor: pointer;
}

input.found-button:active {
	background-color:#5496bd;
	color: rgba(255,255,255,0.3);
	cursor: pointer;
}




.inside-page {
	width: 1200px;
	margin: 0 auto;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
}

.about-hotel {
	display: flex;
	padding: 30px 6%;
}

.about-hotel fieldset {
	color: #ffffff;
	border: none;
}

.about-hotel fieldset:last-child {
	text-align: right;
}

.choose-hotel {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 21px;
	color: #000000;
	background-image: url("../img/main-view-inside.jpg");
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: cover;
}

.choose {
	width: 153px;
	margin: auto 0;
	padding: 0;
}

.choose legend {
	margin-bottom: 31px;
    font-size: 16px;
	font-weight: bold;
	line-height: 21px;
}

.choose div {
	margin-bottom: 21px;
}

.choose div:last-child {
	margin-bottom: 0;
}

.choose input {
	display: none;
}

.hotel-structure {
	margin-right: 97px;
}

.type-of-hotel {
	margin-right: 79px;
}

.last-block {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	margin: 0;
	padding: 0;
	padding-right: 6%;
}

.form-checkbox + label {
    position: relative;
    padding-left: 42px;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}
.form-checkbox + label::before {
    content: url(../img/checkbox-off.svg);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 26px;
    color: #b5b5b5;
}

.form-checkbox:checked + label::before {
    content: url(../img/checkbox-on.svg);
}

.form-checkbox + label:hover::before {
    color: #fff;
}

.form-checkbox:disabled + label,
.form-checkbox:disabled + label::before,
.form-checkbox:disabled + label:hover::before {
    color: #6a6a6a;
    cursor: default;
}

.choose input:disabled + legend {
	color: #6a6a6a;
}

.price {
	width: 330px;
	font-weight: 600;
	font-size: 16px;
    line-height: 21px;
	margin: auto 0;
	color: #ffffff;
}

.price legend {
	margin-bottom: 9px;
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
}

.price-control {
	position: relative;
	height: 36px;
    margin-bottom: 20px;
	font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-control::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-control label {
    display: inline-block;
    font-size: 14px;
	font-weight: normal;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-control .price-min,
.price-control .price-max {
    width: 90px;
    padding-left: 65px;
}

.price-control input {
    width: 50px;
    margin: 0;
	font-weight: normal;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.price-control:hover input,
.price-control:active input{
	color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.button-show-results {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0 35px;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 33px;
	color: #ffffff;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.button-show-results:hover,
.button-show-results:focus {
	color: #000000;
	background-color: #ffffff;
}

.results-of-search {
	display: flex;
	position: relative;
	min-height: 86px;
	margin: 0;
	padding: 0 6%;
}

.results-of-search p:first-of-type {
	margin: auto 0;
	margin-right: 46px;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.results-of-search p:last-of-type {
	margin: auto 0;
	margin-right: 40px;
	font-size: 12px;
	line-height: 18px;
}

.sort-for {
	display: flex;
	margin: 0;
	margin-right: 125px;
	padding: 0;
	list-style: none;
}

.sort-for li {
	margin: auto 0;
	margin-right: 33px;
}

.sort-for li:last-of-type {
	margin-right: 0;
}

.sort-for a {
    font-size: 12px;
	line-height: 18px;
	color: rgba(0,0,0,0.3);
	text-decoration: underline dotted #81b3d2;
}

.sort-for a:hover,
.sort-for a:focus {
	color: #81b3d2;
	text-decoration: underline dotted #81b3d2;
}

.sort-for a:active {
	color: #000000;
	text-decoration: none;
}

.active a {
	color: #81b3d2;
	text-decoration: none;
}

.sorting-results {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	right: 6%;
	top: 40%;
	margin: 0;
	padding: 0;
}

a.sorting-results {
	font-size: 12px;
	line-height: 18px;
	color: rgba(0,0,0,0.5);
}

a.sorting-results:hover,
a.sorting-results:focus{
	color: #000000;
}

a.sorting-results:active {
	color: #81b3d2;
}

.sorting-results-up {
	width: 11px;
	height: 10px;
	margin-right: 12px;
}

.sorting-results-up:hover path,
.sorting-results-up:focus path,
.sorting-results-down:hover path,
.sorting-results-down:focus path {
	fill: #231f20;
}

.sorting-results-up:active path,
.sorting-results-down:active path {
	fill: #81b3d2;
}

.sorting-results-down {
	width: 11px;
	height: 10px;
}

.sorting-results-active {
	fill: #81b3d2;
}

.hotel-found {
	display: flex;
	align-items: center;
	margin: auto 0;
	padding: 30px 6%;
	border-bottom: 2px solid #e5e5e5;
}

.hotel-found:first-of-type {
	border-top: 2px solid #e5e5e5;
}

.hotel-found-description {
	width: 260px;
	margin-left: 32px;
}

.hotel-found-description h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}

.hotel-found-description p {
	display: inline-block;
	width: 110px;
	margin: 0;
	margin-right: 6px;
	margin-bottom: 13px;
	padding: 0;
}


a.hotel-name {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}

a.hotel-name:hover,
a.hotel-name:focus {
	color: #81b3d2;
}

a.hotel-name:active {
	color: rgba(0,0,0,0.3);
}

a.more-button {
	box-sizing: border-box;
	display: inline-block;
	width: 110px;
	margin: 0;
	margin-right: 6px;
	padding: 4px 0;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;
}

a.more-button:hover,
a.more-button:focus {
	background-color: #669ec0;
}

a.more-button:active {
	color: rgba (255,255,255,0.3);
	background-color: #5496bd;
}

a.booking-button {
	box-sizing: border-box;
	display: inline-block;
	width: 140px;
	margin: 0;
	padding: 4px 0;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #766357;
}

a.booking-button:hover,
a.booking-button:focus {
	background-color: #604e43;
}

a.booking-button:active {
	color: rgba (255,255,255,0.3);
	background-color: #503e33;
}

.hotel-found-rating {
	display: flex;
	justify-content: space-between;
	align-self: flex-end;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	right: 6%;
	width: 240px;
	min-height: 98px;
	margin: 0;
	padding: 0;
}

.hotel-found-rating p {
	display: block;
	margin: 0;
	padding: 4px 15px;
	color: #666666;
	background-color: #f2f2f2;
}

.four-stars {
	width: 80px;
	height: 17px;
	background-image: url('../img/star.svg');
	background-repeat: space;
}

.three-stars {
	width: 60px;
	height: 17px;
	background-image: url('../img/star.svg');
	background-repeat: space;
}

.two-stars {
	width: 40px;
	height: 17px;
	background-image: url('../img/star.svg');
	background-repeat: space;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 35px 0;
	text-transform: uppercase;
	background-color: rgba(255,255,255,0.9);
}

.first-page .main-footer {
	position: absolute;
	width: 100%; 
	left: 0; 
	bottom: 0;
}


.tag-sedona {
	box-sizing: border-box;
	width: 33.3333%;
	margin: auto 0;
	padding-left: 55px;
	font-size: 21px;
	font-weight: bold;
	line-height: normal;
	text-align: center;
}

.social-networks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-sizing: border-box;
	width: 33.3333%;
	margin: auto;
    padding: 0;
	text-align: center;
	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
    justify-content: center;
	width: 47px;
	height: 48px;
	margin-left: 5px;
	background-color: #81b3d2;
	color: #ffffff;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active path {
	background-color: #5496bd;
	fill: rgba(255,255,255,0.3);
}

.social-button:active path {
	fill: rgba(255,255,255,0.3);
}

.creator {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 33.3333%;
	margin: auto 0;
	text-align: center;
}

.creator,
.creator-name {
	font-size: 14px;
	font-weight: normal;
	line-height: 26px;
	color: #000000;
}

.creator-name {
	display: inline-block;
	width: 120px;
	height: 40px;
	margin-left: 5px;
}

.creator-name:hover path,
.creator-name:focus path {
	fill: #81b3d2;
}

.creator-name:active path {
	fill: #bdbbbc;
}